<a href="https://colab.research.google.com/github/calbertogp/CH13/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    "applicants_data.csv",     
)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis = 1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
from pandas.core.arrays.categorical import Categorical
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)


# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df, encoded_df], axis=1)
encoded_df = encoded_df.drop(columns = categorical_variables, axis =1)
# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y.tail()

34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = "IS_SUCCESSFUL", axis=3)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  16

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

16

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  12

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

12

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [ ]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                1872

 dense_1 (Dense)             (None, 12)                204

 dense_2 (Dense)             (None, 1)                 13

=================================================================
Total params: 2,089
Trainable params: 2,089
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [ ]:
# Fit the model using 50 epochs and the training data
deep_net = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.3225 - mse: 0.3225
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2051 - mse: 0.2051
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1919 - mse: 0.1919
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1944 - mse: 0.1944
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1926 - mse: 0.1926
Epoch 6/50
804/804 [==============================] - 4s 4ms/step - loss: 0.1937 - mse: 0.1937
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.1906 - mse: 0.1906
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1910 - mse: 0.1910
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1893 - mse: 0.1893
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1883 - mse: 0.1883
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1878 - mse: 0.1878
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1861 - mse: 0.1861
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1880 - mse: 0.1880
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1863 - mse: 0.1863
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1847 - mse: 0.1847
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1844 - mse: 0.1844
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1840 - mse: 0.1840
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1836 - mse: 0.1836
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1862 - mse: 0.1862
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - mse: 0.1834
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1830 - mse: 0.1830
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1833 - mse: 0.1833
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1827 - mse: 0.1827
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1831 - mse: 0.1831
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1824 - mse: 0.1824
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1832 - mse: 0.1832
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - mse: 0.1824
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1825 - mse: 0.1825
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1826 - mse: 0.1826
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - mse: 0.1824
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1822 - mse: 0.1822
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1824 - mse: 0.1824
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1822 - mse: 0.1822
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1823 - mse: 0.1823
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - mse: 0.1817
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - mse: 0.1821
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - mse: 0.1821
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - mse: 0.1817
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - mse: 0.1817
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1816 - mse: 0.1816
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1819 - mse: 0.1819
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1813 - mse: 0.1813
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1812 - mse: 0.1812
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1816 - mse: 0.1816

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.1852 - mse: 0.1852 - 404ms/epoch - 2ms/step
Loss: 0.18518148362636566, Accuracy: 0.18518148362636566

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
from pathlib import Path
# Set the model's file path
file_path = Path("/AlphabetSoup.h5")
# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

8

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))



# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1

In [ ]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6885 - mse: 1.6885
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6070 - mse: 0.6070
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.3846 - mse: 0.3846
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2872 - mse: 0.2872
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2392 - mse: 0.2392
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2169 - mse: 0.2169
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2085 - mse: 0.2085
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2052 - mse: 0.2052
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2062 - mse: 0.2062
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2055 - mse: 0.2055
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2034 - mse: 0.2034
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2016 - mse: 0.2016
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2000 - mse: 0.2000
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1998 - mse: 0.1998
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2022 - mse: 0.2022
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1975 - mse: 0.1975
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1960 - mse: 0.1960
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1960 - mse: 0.1960
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1954 - mse: 0.1954
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1959 - mse: 0.1959
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1928 - mse: 0.1928
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1918 - mse: 0.1918
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1914 - mse: 0.1914
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1907 - mse: 0.1907
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1893 - mse: 0.1893
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1893 - mse: 0.1893
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1902 - mse: 0.1902
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1880 - mse: 0.1880
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1879 - mse: 0.1879
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1885 - mse: 0.1885
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1871 - mse: 0.1871
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1865 - mse: 0.1865
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1863 - mse: 0.1863
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1865 - mse: 0.1865
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1854 - mse: 0.1854
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1856 - mse: 0.1856
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1860 - mse: 0.1860
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1861 - mse: 0.1861
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1854 - mse: 0.1854
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1848 - mse: 0.1848
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1847 - mse: 0.1847
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1840 - mse: 0.1840
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1844 - mse: 0.1844

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 4

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

32

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2

In [ ]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [ ]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 5ms/step - loss: 0.8842 - mse: 0.8842
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.3075 - mse: 0.3075
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2188 - mse: 0.2188
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.2152 - mse: 0.2152
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2261 - mse: 0.2261
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.2383 - mse: 0.2383
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2305 - mse: 0.2305
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2231 - mse: 0.2231
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2114 - mse: 0.2114
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2071 - mse: 0.2071
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2082 - mse: 0.2082
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2094 - mse: 0.2094
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2019 - mse: 0.2019
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.2005 - mse: 0.2005
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1972 - mse: 0.1972
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1957 - mse: 0.1957
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1925 - mse: 0.1925
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1913 - mse: 0.1913
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1902 - mse: 0.1902
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1901 - mse: 0.1901
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1889 - mse: 0.1889
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1887 - mse: 0.1887
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1877 - mse: 0.1877
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1871 - mse: 0.1871
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1866 - mse: 0.1866
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1870 - mse: 0.1870
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1868 - mse: 0.1868
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1859 - mse: 0.1859
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1851 - mse: 0.1851
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1847 - mse: 0.1847
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1861 - mse: 0.1861
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1853 - mse: 0.1853
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1850 - mse: 0.1850
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1862 - mse: 0.1862
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1848 - mse: 0.1848
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1842 - mse: 0.1842
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1843 - mse: 0.1843
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1845 - mse: 0.1845
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1844 - mse: 0.1844
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - mse: 0.1849
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1837 - mse: 0.1837
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1837 - mse: 0.1837
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1838 - mse: 0.1838
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1841 - mse: 0.1841
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1839 - mse: 0.1839
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - mse: 0.1834

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.1852 - mse: 0.1852 - 279ms/epoch - 1ms/step
Loss: 0.18518148362636566, Accuracy: 0.18518148362636566

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.1868 - mse: 0.1868 - 614ms/epoch - 2ms/step
Loss: 0.18675881624221802, Accuracy: 0.18675881624221802

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.1853 - mse: 0.1853 - 623ms/epoch - 2ms/step
Loss: 0.18526539206504822, Accuracy: 0.18526539206504822

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path("/nn_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path("/nn_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)